<!DOCTYPE HTML>
<html lang="id">

<head>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <meta name="description"
        content="blog seorang rekayasawan yang akan menyajikan artikel rekayasa perangkat lunak (software engineering) dari berbagai referensi maupun pengalaman pribadi">
    <meta name="keywords"
        content="rekayasa perangkat lunak, software engineering, developer, programming, web development">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style>
        .center {
            margin: 0 auto;
        }

        nav {
            position: absolute;
        }

        main {
            padding-top: 3em;
        }
    </style>
</head>

<body>
    <nav class="demo">
        <a href="/" class="brand">
            <span>Rekayasawan</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">&#9776;</label>

        <div class="menu">
            <a href="/tentang" class="pseudo button icon-picture">Tentang</a>
            <a href="/blog" class="pseudo button icon-picture">Blog</a>
            <a href="/kontak" class="pseudo button icon-picture">Kontak</a>
        </div>
    </nav>

    <main class="flex five">
        {% block content %}{% endblock content %}
    </main>
</body>

</html>